/ThemaC-2/Practice/haarcascade_eye.xml
/ThemaC-2/Practice/haarcascade_frontalcatface.xml
/ThemaC-2/Practice/haarcascade_frontalcatface_extended.xml
/ThemaC-2/Practice/haarcascade_frontalface_default.xml
